@import './reset.css';

* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    line-height: 1.4;
}

.map {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.floating-control {
    position: absolute;
    padding: 0.5rem;
    background: white;
    border-radius: 0.1rem;
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
}

.buttons {
    top: 0.5rem;
    right: 0.5rem;
}

.buttons > button:first-child {
    margin-right: 0.5rem;
}

.buttons button {
    cursor: pointer;
    border-radius: 0.2rem;
    border: none;
    background: #2b578a;
    font-weight: 400;
    color: white;
    padding: 0.3rem 0.5rem;
}

.floating-control input {
    border-color: #ccc;
    border-radius: 0.25rem;
    border-style: solid;
    border-width: 1px;
    padding: 0.2rem;
}

.radius-km {
    width: 5rem;
}

